@import '../vendors/bulma/bulma.sass';

.navbar-brand {
	width: 100px;

	> .navbar-item {
		width: 100%;

		img {
			max-height: 80px;
			width: 100%;
		}
	}
}

.title {
	&--lg {
		font-size: 48px;
	}
}

.testlist {
	&__item {
		color: purple;
	}
}

.error {
	padding: 10px;
	color: crimson;
	border: 1px dotted crimson;
}

.success {
	padding: 10px;
	color: limegreen;
	border: 1px dotted limegreen;
}

.content {
	&__top,
	&__middle,
	&__bottom {
		padding: 3rem 1rem;
	}
	&__middle {
		li {
			list-style-type: none;
			max-width: 200px;
			padding: 8px;
			margin: 8px 0;
			background: #eee;
			border: 1px dotted #ddd;
		}
	}
}
